name: Build Project

on:
  push:
    branches:
     - main
  pull_request:
    branches: 
     - main

jobs: 
    build:
        runs-on: ubuntu-latest
        name: Build Project

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up .Net Core
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '8.x'

            - name: Build
              run: | 
                  dotnet restore ./CrudProduto.sln
                  dotnet build --no-restore ./CrudProduto.sln